@page "/NuevoCliente"
@inject HttpClient Http
@inject IClienteService Service
@using Microsoft.EntityFrameworkCore
@using ProyectoFinalBlazor2.Data
@using ProyectoFinalBlazor2.Data.Dtos
@using ProyectoFinalBlazor2.Data.Dtos.Cliente
@using ProyectoFinalBlazor2.Data.Services


<div Class="rz-p-0 rz-p-md-12">
    <h3>Crear nuevo Cliente</h3>
    <RadzenRow Gap="1rem">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack >
                <EditForm Model="@cliente" OnValidSubmit="@PostCliente">
                <RadzenFormField Text="Nombre">
                    <RadzenTextBox @bind-Value="@cliente.NombreCliente" />
                </RadzenFormField>
                <RadzenFormField Text="Apellido">
                    <RadzenTextBox @bind-Value="@cliente.ApellidoCliente" />
                </RadzenFormField>
                <RadzenFormField Text="Telefono">
                    <RadzenTextBox @bind-Value="@cliente.Telefono" />
                </RadzenFormField>
                <RadzenFormField Text="Email">
                    <RadzenTextBox @bind-Value="@cliente.Email" />
                </RadzenFormField>
                <RadzenFormField Text="SalonId">
                    <RadzenNumeric @bind-Value="@cliente.UsuarioSalonEntityId" />
                </RadzenFormField>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Crear"></RadzenButton>
                </EditForm>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</div>

@code {

    ClienteDto cliente = new ClienteDto();
    public async Task PostCliente()
    {
        await Service.PostCliente(cliente);
    }
}
